<!DOCTYPE html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
  <head>
  <script>
    window.Store = window.Store || {};
    window.Store.id = {{ shop.id }};
  </script>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>
      {% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}
    </title>

    {% if page_description %}
      <meta name="description" content="{% if template contains 'search' %} {{ page_title }} - {{ shop.name }} {% else %}{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}{% endif %}"/>
    {% endif %}

    <link rel="preconnect" href="https://fonts.shopifycdn.com" />
    <link rel="preconnect" href="https://cdn.shopify.com" />
    <link rel="preconnect" href="https://cdn.shopifycloud.com" />

    <link rel="dns-prefetch" href="https://v.shopify.com" />
    <link rel="dns-prefetch" href="https://www.youtube.com" />
    <link rel="dns-prefetch" href="https://vimeo.com" />

    {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}

    <!-- Stylesheet for Fancybox library -->
    <link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}" type="text/css" media="all" defer>
    
    <!-- Stylesheets for Turbo -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <!-- Icons -->
    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
      <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
      <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
      <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
      <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
      <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
      <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
      <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}"/>

    {% if template contains 'customer' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {% endif %}

    {% if settings.show_multiple_currencies or settings.show_shipping_calculator %}
      <script type="text/javascript" src="/services/javascripts/currencies.js" data-no-instant></script>
    {% endif %}

    {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
      <script src="{{ 'currencies.js' | asset_url }}" defer></script>
    {% endif %}

    {% comment %}Inject theme-object begin{% endcomment %}
    <script>
      window.PXUTheme = window.PXUTheme || {};
      window.PXUTheme.version = '9.3.0';
      window.PXUTheme.name = 'Turbo';
    </script>
    {% comment %}Inject theme-object end{% endcomment %}


    {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals begin{% endcomment %}
    {%- capture price -%}{%- render 'price-ui-templates', template: 'price' -%}{%- endcapture -%}
    {%- capture price_percent -%}{%- render 'price-ui-templates', template: 'price-percent' -%}{%- endcapture -%}
    {%- capture price_min -%}{%- render 'price-ui-templates', template: 'price-min' -%}{%- endcapture -%}
    {%- capture price_max -%}{%- render 'price-ui-templates', template: 'price-max' -%}{%- endcapture -%}
    {%- capture unit_quantity -%}{%- render 'price-ui-templates', template: 'unit-quantity' -%}{%- endcapture -%}
    {%- capture unit_price -%}{%- render 'price-ui-templates', template: 'unit-price' -%}{%- endcapture -%}
    {%- capture unit_measurement -%}{%- render 'price-ui-templates', template: 'unit-measurement' -%}{%- endcapture -%}
    
    <template id="price-ui">{%- render 'price-ui-templates', template: 'price-ui' -%}</template>
    <template id="price-ui-badge">{%- render 'price-ui-templates', template: 'price-ui-badge' -%}</template>
    
    <template id="price-ui__price">{{ price }}</template>
    <template id="price-ui__price-range">{{- 'product.price.range_html' | t: price_min: price_min, price_max: price_max -}}</template>
    <template id="price-ui__unit-pricing">{{- 'product.price.unit_pricing_html' | t: unit_quantity: unit_quantity, unit_price: unit_price, unit_measurement: unit_measurement -}}</template>
    <template id="price-ui-badge__percent-savings-range">{{- 'product.badge.sale_percentage_range_html' | t: price_percent: price_percent -}}</template>
    <template id="price-ui-badge__percent-savings">{{- 'product.badge.sale_percentage_single_html' | t: price_percent: price_percent -}}</template>
    <template id="price-ui-badge__price-savings-range">{{- 'product.badge.sale_money_range_html' | t: price: price -}}</template>
    <template id="price-ui-badge__price-savings">{{- 'product.badge.sale_money_single_html' | t: price: price -}}</template>
    <template id="price-ui-badge__on-sale">{{- 'product.badge.sale' | t -}}</template>
    <template id="price-ui-badge__sold-out">{{- 'product.badge.sold_out' | t -}}</template>
    <template id="price-ui-badge__in-stock">{{- 'product.badge.in_stock' | t -}}</template>
    {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals end{% endcomment %}


    <script>
      {% render 'js-variables' %}
    </script>

    {% unless settings.performance == "sport" or template contains "customer" %}
      <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant defer></script>

      <script data-no-instant>
        window.addEventListener('DOMContentLoaded', function() {

          function inIframe() {
            try {
              return window.self !== window.top;
            } catch (e) {
              return true;
            }
          }

          if (!inIframe()){
            InstantClick.on('change', function() {

              $('head script[src*="shopify"]').each(function() {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = $(this).attr('src');

                $('body').append(script);
              });

              $('body').removeClass('fancybox-active');
              $.fancybox.destroy();

              InstantClick.init();

            });
          }
        });
      </script>
    {% endunless %}

    <script>
      {{ settings.custom_scripts }}
    </script>

    {{ content_for_header }}

    {% render 'social-meta-info' %}
  </head>

  <noscript>
    <style>
      .product_section .product_form,
      .product_gallery {
        opacity: 1;
      }

      .multi_select,
      form .select {
        display: block !important;
      }

      .image-element__wrap {
        display: none;
      }
    </style>
  </noscript>

  <body
    class="
      {% if template == '404' %}
        error-404
      {% else %}
        {{ template | replace: '.', '-' | handle }}
      {% endif %}
    "
    data-money-format="
      {%- if settings.currency_format == 'money_with_currency_format' -%}
        {{- shop.money_with_currency_format | strip_html -}}
      {%- else -%}
        {{- shop.money_format | strip_html -}}
      {%- endif -%}
    "
    data-shop-currency="{{ shop.currency }}"
    data-shop-url="{{ shop.url }}"
  >
    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

    {% comment %}Inject icon-star-symbol begin{% endcomment %}
    <svg
      class="icon-star-reference"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="3 3 17 17" fill="none"
    >
      <symbol id="icon-star">
        <rect class="icon-star-background" width="20" height="20" fill="currentColor"/>
        <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
      </symbol>
      <clipPath id="icon-star-clip">
        <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </clipPath>
    </svg>
    {% comment %}Inject icon-star-symbol end{% endcomment %}


    {{ content_for_layout }}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
    <script src="{{ 'utilities.js' | asset_url }}" defer></script>
    {%- if settings.minify -%}
      <script src="{{ 'sections.min.js' | asset_url }}" defer></script>
      <script src="{{ 'app.min.js' | asset_url }}" defer></script>
    {%- else -%}
      <script src="{{ 'sections.js' | asset_url }}" defer></script>
      <script src="{{ 'app.js' | asset_url }}" defer></script>
    {%- endif -%}
      <script src="{{ 'option_selection.js' | shopify_asset_url }}" defer></script>
    {%- if request.design_mode -%}
      <script src="{{ 'themeEditorSections.js' | asset_url }}" defer></script>
    {%- endif -%}
  </body>
</html>