<!DOCTYPE html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
    <head>  
      
        {%  render 'wnw-header' %} 
        <!-- Google Tag Manager 15.07.2021-->
        <script type="lazyload_int">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NBNZPG7');</script>
        <!-- End Google Tag Manager -->
        <!----Custom Fonts---->
        <link rel="stylesheet" data-href="https://use.typekit.net/hfl5atn.css">
        <!---End Custom Fonts---->    
        <script>
            window.Store = window.Store || {};
            window.Store.id = {{ shop.id }};
        </script>
        <meta charset="utf-8">
        <meta http-equiv="cleartype" content="on">
        <meta name="robots" content="index,follow">
        <!-- Mobile Specific Metas -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="{{ settings.shop_bg_color }}">
        {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
        <title>
            {% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}
        </title>
        {% if page_description %}
            <meta name="description" content="{% if template contains 'search' %} {{ page_title }} - {{ shop.name }} {% else %}{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}{% endif %}"/>
        {% endif %}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" />
        <link rel="preconnect" href="https://cdn.shopify.com" />
        <link rel="preconnect" href="https://cdn.shopifycloud.com" />
        <link rel="dns-prefetch" href="https://v.shopify.com" />
        <link rel="dns-prefetch" href="https://www.youtube.com" />
        <link rel="dns-prefetch" href="https://vimeo.com" />
        {% comment %}
            {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}
        {% endcomment %}
        {% if template contains "index" %}
            {% render "index-css" %}
        {% elsif template contains "collection" %}
            {% render "collection-css" %}
        {% elsif template contains "product" %}
            {% render "product-css" %}
        {% else %}
            {% render "all-css" %}
        {% endif %}
        <!-- Stylesheet for Fancybox library -->
        <!-- Stylesheets for Turbo -->
        <link rel="stylesheet" data-href="{{ 'fancybox.css' | asset_url }}" type="text/css" media="all" >    
        <link rel="stylesheet" data-href="{{ 'styles.css' | asset_url }}" type="text/css" media="all" >
        <!-- Icons -->
        {% if settings.favicon != nil %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
            <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
            <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
            <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
            <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
            <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
            <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
            <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
            <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
        {% else %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
        {% endif %}
        {% if template contains 'collection' and current_tags %}
            <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
        {% else %}
            <link rel="canonical" href="{{ canonical_url }}" />
        {% endif %}
        {% if template contains 'customer' %}
            <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
            <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
        {% endif %}
        {% if settings.show_multiple_currencies or settings.show_shipping_calculator %}
            <script type="lazyload_int" data-src="/services/javascripts/currencies.js" data-no-instant></script>
        {% endif %}
        {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
            <script type="lazyload_int" data-src="{{ 'currencies.js' | asset_url }}" ></script>
        {% endif %}
        {% comment %}Inject theme-object begin{% endcomment %}
        <script>
            window.PXUTheme = window.PXUTheme || {};
            window.PXUTheme.version = '9.3.0';
            window.PXUTheme.name = 'Turbo';
        </script>
        {% comment %}Inject theme-object end{% endcomment %}
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals begin{% endcomment %}
        {%- capture price -%}{%- render 'price-ui-templates', template: 'price' -%}{%- endcapture -%}
        {%- capture price_percent -%}{%- render 'price-ui-templates', template: 'price-percent' -%}{%- endcapture -%}
        {%- capture price_min -%}{%- render 'price-ui-templates', template: 'price-min' -%}{%- endcapture -%}
        {%- capture price_max -%}{%- render 'price-ui-templates', template: 'price-max' -%}{%- endcapture -%}
        {%- capture unit_quantity -%}{%- render 'price-ui-templates', template: 'unit-quantity' -%}{%- endcapture -%}
        {%- capture unit_price -%}{%- render 'price-ui-templates', template: 'unit-price' -%}{%- endcapture -%}
        {%- capture unit_measurement -%}{%- render 'price-ui-templates', template: 'unit-measurement' -%}{%- endcapture -%}    
        <template id="price-ui">{%- render 'price-ui-templates', template: 'price-ui' -%}</template>
        <template id="price-ui-badge">{%- render 'price-ui-templates', template: 'price-ui-badge' -%}</template>
        <template id="price-ui__price">{{ price }}</template>
        <template id="price-ui__price-range">{{- 'product.price.range_html' | t: price_min: price_min, price_max: price_max -}}</template>
        <template id="price-ui__unit-pricing">{{- 'product.price.unit_pricing_html' | t: unit_quantity: unit_quantity, unit_price: unit_price, unit_measurement: unit_measurement -}}</template>
        <template id="price-ui-badge__percent-savings-range">{{- 'product.badge.sale_percentage_range_html' | t: price_percent: price_percent -}}</template>
        <template id="price-ui-badge__percent-savings">{{- 'product.badge.sale_percentage_single_html' | t: price_percent: price_percent -}}</template>
        <template id="price-ui-badge__price-savings-range">{{- 'product.badge.sale_money_range_html' | t: price: price -}}</template>
        <template id="price-ui-badge__price-savings">{{- 'product.badge.sale_money_single_html' | t: price: price -}}</template>
        <template id="price-ui-badge__on-sale">{{- 'product.badge.sale' | t -}}</template>
        <template id="price-ui-badge__sold-out">{{- 'product.badge.sold_out' | t -}}</template>
        <template id="price-ui-badge__in-stock">{{- 'product.badge.in_stock' | t -}}</template>
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui-globals end{% endcomment %}
        <script>
            {% render 'js-variables' %}
        </script>
        {% if settings.disqus_enabled %}
            {% if template contains "blog" or template contains "article" or template contains "index" %}
                <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
            {% endif %}
        {% endif %}
        {% unless settings.performance == "sport" or template contains "customer" %}
            <script type="lazyload_int" data-src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant ></script>
            <script data-no-instant type="lazyload_int">
                window.addEventListener('DOMContentLoaded', function() {
                    function inIframe() {
                        try {
                            return window.self !== window.top;
                        } catch (e) {
                            return true;
                        }
                    }
                    if (!inIframe()){
                        InstantClick.on('change', function() {
                            $('head script[src*="shopify"]').each(function() {
                                var script = document.createElement('script');
                                script.type = 'text/javascript';
                                script.src = $(this).attr('src');
                                $('body').append(script);
                            });
                            $('body').removeClass('fancybox-active');
                            $.fancybox.destroy();
                            InstantClick.init();
                        });
                    }
                });
            </script>
        {% endunless %}
        <script>
            {{ settings.custom_scripts }}
        </script>
        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' async="async" ', ' type="lazyload_int" ' | replace: ' defer="defer" ', ' type="lazyload_int" ' | replace: " src=", " data-src="| replace: "DOMContentLoaded", "w3-DOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('w3-DOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('w3-DOMContentLoaded', prefetchAssets);"
          | replace: "<script type='text/javascript' async=''" , "<script type='lazyload_int' "}}
            <script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
        {%- endif -%}
        {% render 'social-meta-info' %}
        {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
        {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}
        {% render 'gp-head' %}
        <!--Gem_Page_Header_Script-->
      
        {% capture gem-app-header-scripts-2 %}{% render 'gem-app-header-scripts' %}{% endcapture %}
          {{ gem-app-header-scripts-2  }}
      
        <!--End_Gem_Page_Header_Script-->
        {% render 'font-load' %}
        {% render 'custom-css'%}
        {% render 'app-block' %}
      
    </head>
    {% if template contains "index" %}
        {% assign feature_image = true %}
    {% elsif template contains "collection" %}
        {% assign feature_image = true %}
    {% elsif template contains "blog" %}
        {% assign feature_image = true %}
    {% elsif template contains "article" %}
        {% assign feature_image = true %}
    {% elsif template contains "contact" %}
        {% assign feature_image = true %}
    {% elsif template contains "product" %}
        {% assign feature_image = true %}
    {% elsif template contains "gallery" %}
        {% assign feature_image = true %}
    {% elsif template contains "banner" %}
        {% assign feature_image = true %}
    {% elsif template contains "faq" %}
        {% assign feature_image = true %}
    {% elsif template contains "search" %}
        {% assign feature_image = true %}
    {% elsif template contains "cart" %}
        {% assign feature_image = true %}
    {% else %}
        {% assign feature_image = false %}
    {% endif %}
    <noscript>
        <style>
            .product_section .product_form,
            .product_gallery {
                opacity: 1;
            }
            .multi_select,
            form .select {
                display: block !important;
            }
            .image-element__wrap {
                display: none;
            }
        </style>
    </noscript>
    <body class="{% if template == '404' %}error-404{% else %}{{ template | replace: '.', '-' | handle }}{% endif %}"
        data-money-format="
            {%- if settings.currency_format == 'money_with_currency_format' -%}
                {{- shop.money_with_currency_format | strip_html -}}
            {%- else -%}
                {{- shop.money_format | strip_html -}}
            {%- endif -%}"
        data-shop-currency="{{ shop.currency }}"
        data-shop-url="{{ shop.url }}">
        <script>
            document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
            if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
            if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
        </script>
        {% comment %}Inject icon-star-symbol begin{% endcomment %}
        <svg
            class="icon-star-reference"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="3 3 17 17" fill="none"
        >
            <symbol id="icon-star">
                <rect class="icon-star-background" width="20" height="20" fill="currentColor"/>
                <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
            </symbol>
            <clipPath id="icon-star-clip">
                <path d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </clipPath>
        </svg>
        {% comment %}Inject icon-star-symbol end{% endcomment %}
        
        <div style="--background-color: {{ settings.shop_bg_color }}">
            
        </div>
        <div class="section-wrapper">
            {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            	{{ content_for_layout }}
      {%- else -%}
          {% capture content_for_layout2 %}{{ content_for_layout }}{% endcapture %}
          {{ content_for_layout2 | replace: '<img src="https://ucarecdn.com' , '<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="https://ucarecdn.com' 
              | replace: ' gf_lazyload" src="//' , ' gf_lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//'
              | replace: ' src="//www.indigo-uk.com/cdn/shop/' , ' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//www.indigo-uk.com/cdn/shop/'
              | replace: '<img class="gf_product-image gf_featured-image" src="//' ,'<img class="gf_product-image gf_featured-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//'
              | replace: '<img class="gf_product-image gf_product-image-hover" src="//' , '<img class="gf_product-image gf_product-image-hover" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//'
              | replace: '<img class="gf_product-image gf_featured-image gf_lazyload" src="//' , '<img class="gf_product-image gf_featured-image gf_lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//'
              | replace: '<img class="gf_product-image-thumb gf_lazyload" src="//' , '<img class="gf_product-image-thumb gf_lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="//'
              | replace: '<script type="text/javascript" src="//s3.amazonaws.com/' ,'<script type="lazyload_int" data-src="//s3.amazonaws.com/' 
              | replace: '<script data-instant-track type="text/javascript">' , '<script data-instant-track type="lazyload_int">'
              | replace: 'rel="preload"' , ''
              | replace: 'as="style"' , 'rel="stylesheet"'
              | replace: ' href="//fonts.googleapis.com' , ' data-href="//fonts.googleapis.com'
              | replace: ' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome' ,'  data-href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome'
              
              | replace: '/120x120/', '/750x750/'
             
              | replace: '_1024x1024.jpg', '_450x450.jpg'
              | replace: '/mc-validate.js"></script><script type="text/javascript">', '/mc-validate.js"></script><script type="lazyload_int">'
              |  replace: 'data-label="Hero Banner"', 'data-label="Hero Banner" style="background-image: none !important;"'
              | replace: 'iframe', 'iframelazy' | replace: 'src="https://www.google.com/maps/', 'data-class="LazyLoad" data-src="https://www.google.com/maps/' 
              }} 
      {%- endif -%}	
        </div>
        <div class="site-overlay" data-site-overlay></div>
        {% sections 'footer-group' %}
        {% if settings.quick_shop_enabled %}
            {% render 'quick-shop' %}
        {% endif %}
        {% if settings.newsletter_popup %}
            {% render 'popup-newsletter' %}
        {% endif %}
        {% render 'mobile-search' %}
        {% if settings.show_shipping_calculator and template contains "cart" %}
            {% render 'cart-shipping-scripts' %}
        {% endif %}
        {% if  template contains 'cart' %}
        <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
        <script src="{{ 'vendors.js' | asset_url }}" defer></script>
        <script src="{{ 'utilities.js' | asset_url }}" defer></script>
        {% else %}
        <script type="lazyload_int" data-src="{{ 'jquery.min.js' | asset_url }}" ></script>
        <script type="lazyload_int" data-src="{{ 'vendors.js' | asset_url }}" ></script>
        <script type="lazyload_int" data-src="{{ 'utilities.js' | asset_url }}" ></script>
          {% endif %}
        {%- if settings.minify -%}
            <script src="{{ 'sections.min.js' | asset_url }}" defer></script>
            <script src="{{ 'app.min.js' | asset_url }}" defer></script>
        {%- else -%}
            <script type="lazyload_int" data-src="{{ 'sections.js' | asset_url }}" ></script>
            <script type="lazyload_int" data-src="{{ 'app.js' | asset_url }}" ></script>
        {%- endif -%}
        <script type="lazyload_int" data-src="{{ 'option_selection.js' | shopify_asset_url }}" ></script>
        {%- if request.design_mode -%}
            <script src="{{ 'themeEditorSections.js' | asset_url }}" defer></script>
        {%- endif -%}
        <!--Gem_Page_Footer_Script-->
        {%- liquid
            assign gpTemplateSuffix = template.suffix
            assign arrSplitSuffix = gpTemplateSuffix | split: '-'
            if gpTemplateSuffix contains 'gem-' and gpTemplateSuffix contains '-template' and arrSplitSuffix.size == 3
                assign isV6GpTemplate = true
            endif
            assign gpShopMeta = shop.metafields.gempages
            if gpShopMeta
            if gpShopMeta['productV6-default'] == 'true' and request.page_type == 'product'
                assign isProductDefault = true
            endif
            if gpShopMeta['collectionV6-default'] == 'true' and request.page_type == 'collection'
                assign isCollectionDefault = true
            endif
            if gpShopMeta['indexV6-default'] == 'true' and request.page_type == 'index'
                assign isIndexDefault = true
            endif
            if isProductDefault or isCollectionDefault or isIndexDefault or isPreviewV6
                assign isV6GpTemplate = true
            endif
            endif
        %}
        {% if isV6GpTemplate %}
           {% capture gem-app-footer-scripts-2 %}{% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT  %}{% endcapture %}
          {{ gem-app-footer-scripts-2 | replace: '<script data-instant-track type="text/javascript">' , '<script data-instant-track type="lazyload_int">' | replace: '<script data-instant-track type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev2.js?v=1.0" class="gf-script" defer>' , '<script data-instant-track type="lazyload_int" data-src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev2.js?v=1.0" class="gf-script">'}}
        {% endif %}
        <!--End_Gem_Page_Footer_Script-->
        <style>
            .button.btn.gf_button {
                justify-content: center!important;
            }
        </style>
        {% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
        {% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}
        <link rel="stylesheet" data-href="{{ 'extrafonts.css.liquid' | asset_url }}">
        {% comment %}
        <style>
            @font-face {
                font-family: "Meno Regular";
                src: url({{"Meno_Regular.ttf"|asset_url}});
            }
        </style>
        <style>
            @font-face {
                font-family: "ProximaNova-Regular";
                src: url("https://cdn.shopify.com/s/files/1/0217/2522/files/ProximaNova-Regular.otf?v=1673890731");
            }
        </style>
        <style>
            @font-face {
                font-family: "Proxima Nova Bold";
                src: url("https://cdn.shopify.com/s/files/1/0217/2522/files/Proxima_Nova_Bold.otf?v=1673891123");
            }
        </style>
        {% endcomment %}
          <script type='lazyload_int'>
            var style = document.createElement('style');
            style.innerHTML = '@font-face {\
                font-family: "ProximaNova-Regular";\
                src: url("https://cdn.shopify.com/s/files/1/0217/2522/files/ProximaNova-Regular.otf?v=1673890731");\
            }\
               @font-face {\
                font-family: "Proxima Nova Bold";\
                src: url("https://cdn.shopify.com/s/files/1/0217/2522/files/Proxima_Nova_Bold.otf?v=1673891123");\
            }';
            document.head.appendChild(style);
          </script>
        <style>
            div#hs-eu-cookie-confirmation {
                display: none !important;
            }
        </style>
          <script type="lazyload_int">
            	setTimeout(function() {
            		console.log("In setTimeout");
            		jQuery.ajax({
            			url: "{{ 'mobile-menu__disclosure' | asset_url }}",
            			success: function(result) {
            				console.log("In success");
            				jQuery("#mobile_country").html(result);
            			}
            		});
            	});
          </script>
          {% if template contains 'collection' %}
          {% render 'col-custom-js' %}
          {% endif %}
          {% if template contains 'product' %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const items = document.querySelectorAll('.gf_product-images-list a.item');
          items.forEach(element => {
            if (element) {
              if(window.innerWidth >= 767){  
                element.style.setProperty('margin', '0px 12px 0px 0px', 'important');
               
              }
            }
          });
      });
      </script>
      {% endif %}
        <script>
          var site_nav_link_burger = true;
      	document.addEventListener("DOMContentLoaded", function() {
            var icon_menu = document.querySelector("div[data-mobile-menu-icon]");
            icon_menu.addEventListener("click", function() {
      			if(site_nav_link_burger) {
      				event.preventDefault();
      				site_nav_link_burger = false;
      			}
      		});
      	}) 
        </script>
          {% unless template contains 'collection' %}
          <script>
          document.addEventListener("DOMContentLoaded", function() {
            const elements = document.querySelectorAll('[data-label="Hero Banner"]');
            elements.forEach(element => {
                element.style.backgroundImage = '';
            });
          });
        </script>
        {% endunless %}
        <script type="lazyload_int">
        setInterval(function() {
            var lazyScripts = document.querySelectorAll("script[type=lazyload_int]");
            for (var i = 0; i < lazyScripts.length; i++) {
                var script_element = document.createElement("script");
                var dataSrc = lazyScripts[i].getAttribute("data-src");
                if (dataSrc) {
                    script_element.src = dataSrc;
                } else {
                    var inlineScript = lazyScripts[i].innerText;
                    if (inlineScript.trim().length > 0) {
                        script_element.text = inlineScript;
                    }
                }
                lazyScripts[i].parentNode.insertBefore(script_element, lazyScripts[i]);
                lazyScripts[i].parentNode.removeChild(lazyScripts[i]);
            }
        }, 1000);
      </script>
      {% if template contains 'product' and product.available == false %}
      <script>
        document.querySelector('[data-label="(P) Price"]').style.display = 'none';
        document.querySelectorAll('.AddToCartText')[1].innerText = 'SOLD';
        document.querySelectorAll('.gf_scarcity-status')[1].innerText = 'OUT OF STOCK';
        document.querySelectorAll('[data-label="(P) Quantity"] .module')[2].style.display = 'none';
        document.querySelectorAll('[data-text="ADD TO BASKET"]')[1].style.opacity = '0.5';
      </script>
      {% endif %}
   {% if template contains 'product' %}
    <script>
      let productDescElements = document.querySelectorAll('.gf_product-desc.gf_gs-text-paragraph-1');
      if (productDescElements.length > 0) {
          let firstProductDescElement = productDescElements[0];
          let innerHeight = firstProductDescElement.clientHeight;
          if (innerHeight < 200) {
              // Append class "not_in_this" to the body
              document.body.classList.add('not_in_this');
          }
      }
    </script>
     <style>
      {% if canonical_url contains '/painted-indian-matka-water-pot' or canonical_url contains '/products/bandhani-silk-scarf-purple' %}
          body:not(.not_in_this) [data-label="(P) Description"]:not(:has(.gf_product-bgmore)) .gf_product-desc {
              height: 164px;
          }
        {% else %}
          body:not(.not_in_this) [data-label="(P) Description"]:not(:has(.gf_product-bgmore)) .gf_product-desc {
            height: 303px;
        }
    {% endif %}
        body:not(.not_in_this) [data-label="(P) Description"]:has([data-action="less"]) .gf_product-desc {
            height: auto !Important;
        }
        body:not(.not_in_this) [data-label="(P) Description"]:not(:has(.gf_product-bgmore)) {
                padding-bottom: 35px;
        }
       body:not(.not_in_this) .gf_product-bgmore {
          min-height: 35px;
      }
     </style>
    {% endif %}

      
      {% if canonical_url contains '/delivery' %}
        <script>
      var divElement = document.querySelector('[data-control=""][data-index="1"][data-key="content"].plus.iCon-right.text-.item-content');
      divElement.classList.add('opend');
        </script>
        {% endif %}
        {%  render 'wnw-footer' %}
        
    </body>
</html>